@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Välkommen till Ballong AB!</h1>
    <h4>Detta är vårat nya interna system för att beställa material!</h4>
    <p>Du behöver först <b>Registrera</b> dig som användare .</p>
    <p>Sedan kan du <b>Logga in </b>för att se en lista med dina <b>Projekt</b>.</p>
    <p>Om du klickar på <b>Projektnamnet</b> får du val att <b>Redigera</b>, <b>Lägg till Orderad</b></p>
    <p>samt möjlighet att <b>Redigera</b> enskilda orderrader.</p>
    <p>Kom ihåg att klicka på <b>Spara</b>!</p>
    <p>Har du ännu inga projekt kan du enkel skapa nya med ett klick på <b>Nytt Projekt</b>.</p>
    <p>Och det bästa av allt är att vår inköpsansvarige kan se alla projekt!</p>
</div>
